.header{
    height: 50px;
    width: 100%;
    background-color: aquamarine;
}

.container-section-promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.item-article{
    width: 30%;
    height: 100px;
    background-color: aqua;
}